			<hr>
			
			<footer style="text-align:center">
				<p></p>
			</footer>
			
		</div><!--/.container-->
	  
	  </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
